<div data-ng-init="initDashboard()">
  <div class="row-flex row-flex-wrap">
    <div class="bg-white m-md wrapper col-lg">
      <h3 class="title-dash">Speed zones </h3>
      <div class="graph-container col-lg">
        <canvas id="speedChart" class="speed"></canvas>
      </div>
    </div>
  </div>
  <div class="row-flex row-flex-wrap">
    <!-- count -->
    <div class="bg-white m-md wrapper col-md">
      <h3 class="title-dash">Count by zones</h3>
      <div class="graph-container">
        <canvas id="countChart"></canvas>
      </div>
    </div>
    <!-- /count -->
    <!-- avg -->
    <div class="bg-white m-md wrapper">
      <h3 class="title-dash text-center">Speed Average</h3>
      <div class="graph-container">
        <canvas id="avgChart"></canvas>
      </div>
    </div>
    <!-- /avg -->
  </div>
</div>
