
font-black = rgb(24, 24, 24);
font-white = rgb(255, 255, 255);
font-yellow = rgb(255, 180, 68);
font-aqua = rgb(0, 186, 215);

bg-navy = rgb(0, 112, 159);
bg-aqua = rgb(0, 186, 210);
bg-yellow = rgb(255, 181, 58);
bg-cia = rgb(255, 0, 103);
bg-pink = rgb(238, 26, 115);
bg-pearl = rgb(0, 255, 199);
bg-white =  rgb(255, 255, 255);

intro-h = 80vh;
full-h = 100vh;

